#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
}

#header #navbar{
    text-decoration: none;
    text-align: end;
}

#header #navbar li{
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    padding-right: 50px;
    font-size: 30px;
    /* align-content: flex-start; */
    
}

#header #navbar a{

    text-decoration: none;
}